<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Fair Cipher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table class="table">
            <tr><td style="text-align: center; font-weight: bold; font-size: 25px;">PLAY FAIR CIPHER</td></tr>
            {% if result %}
            <tr>
                <td class="alert alert-info">
                    {{ result }}
                </td>
            </tr>
            {% endif %}
            {% if matrix %}
            <tr>
                <td>
                    <div style="text-align: center;">
                        <h5>Playfair Matrix</h5>
                        {{ matrix | safe }}
                    </div>
                </td>
            </tr>
            {% endif %}
            <tr><td style="font-weight: bold; color: blue;">ENCRYPTION</td></tr>
            <tr>
                <td>
                    <form method="post" action="/playfair/encrypt">
                        <div class="mb-3">
                            <label class="form-label">Plain text</label>
                            <input type="text" class="form-control" name="inputPlainText" placeholder="Input Plain Text (letters only)" required autofocus value="{{ input_text if input_text else '' }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Key:</label>
                            <input type="text" class="form-control" name="inputKeyPlain" placeholder="Input Key (letters only)" required value="{{ input_key if input_key else '' }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Encrypt</button>
                    </form>
                </td>
            </tr>
            <tr style="margin-top: 20px;"><td style="font-weight: bold; color: blue;">DECRYPTION</td></tr>
            <tr>
                <td>
                    <form method="post" action="/playfair/decrypt">
                        <div class="mb-3">
                            <label class="form-label">Cipher text</label>
                            <input type="text" class="form-control" name="inputCipherText" placeholder="Input Cipher Text (letters only)" required value="{{ input_text if input_text else '' }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Key:</label>
                            <input type="text" class="form-control" name="inputKeyCipher" placeholder="Input Key (letters only)" required value="{{ input_key if input_key else '' }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Decrypt</button>  
                    </form>
                </td>
            </tr>
            <tr><td style="font-weight: bold; color: blue;">GENERATE MATRIX</td></tr>
            <tr>
                <td>
                    <form method="post" action="/matrix">
                        <div class="mb-3">
                            <label class="form-label">Key:</label>
                            <input type="text" class="form-control" name="inputKeyPlain" placeholder="Input Key (letters only)" required value="{{ input_key if input_key else '' }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Generate Matrix</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>